<ion-header class="ion-no-border">

  <ion-item lines="none">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/services"></ion-back-button>
    </ion-buttons>

    <ion-title>
      HOUSES PROFILES
    </ion-title>
  </ion-item>

</ion-header>

<ion-content [fullscreen]="true" class="background-image">

  <ion-card class="card ion-margin first-card">
      <ion-card-content>
          <ion-grid>

              <ion-row>
                  <ion-col size="6">
                      <ion-avatar class="ion-margin-start">
                          <ion-img src="https://tse4.mm.bing.net/th?id=OIP.jkcuU1uCjz36tXwh6b5b7gHaEa&pid=Api&P=0&w=264&h=158"></ion-img>
                      </ion-avatar>
                  </ion-col>
                  <ion-col size="6" class="ion-text-right">
                      <h3>
                        Justin Vicky
                      </h3>
                      <p>
                          full house
                      </p>
                      <p>
                        7397 Ext.8 segwane street, Mabopane 0190
                    </p>

                    <p>
                      0823525996
                    </p>

                    <p>
                      justinvicky@gmail.com
                    </p>

                    <ion-router-link href="#" [routerLink] ="['/view-one']">
                      View previous work
                    </ion-router-link>

                      <p class="prices">
                          R 800
                      </p>
                      <ion-button [routerLink] ="['/booking']">
                        Book Now
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>

  <ion-card class="card ion-margin">
      <ion-card-content>
          <ion-grid>

              <ion-row>
                  <ion-col size="6">
                    <ion-avatar class="ion-margin-start">
                      <ion-img src="https://tse3.mm.bing.net/th?id=OIP.lJAucSM4S8e2tMDUyrbVIwHaLG&pid=Api&P=0&w=300&h=300"></ion-img>
                  </ion-avatar>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                  <h3>
                      Again Mahlatse Mokwena
                  </h3>
                  <p>
                      full house
                  </p>
                  <p>
                    7872 Mahube valley, Mamelodi 0122
                </p>

                <p>
                  0601414255
                </p>

                <p>
                  againmm3@gmail.com
                </p>

                <ion-router-link href="#" [routerLink] ="['/view-one']">
                  View previous work
                </ion-router-link>
                
                  <p class="prices">
                      R 750
                  </p>
                  <ion-button [routerLink] ="['/booking']">
                    Book Now
                  </ion-button>
              </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>

  <ion-card class="card ion-margin">
      <ion-card-content>
          <ion-grid>

              <ion-row>
                  <ion-col size="6">
                    <ion-avatar class="ion-margin-start">
                      <ion-img src="https://shorthaircutsmodels.com/wp-content/uploads/2020/03/Pixie-cut-wigs-for-black-women-21.jpg"></ion-img>
                  </ion-avatar>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                  <h3>
                      Lilita Kakaza
                  </h3>
                  <p>
                      full house
                  </p>
                  <p>
                    7398 Vleeschboom, Groblersdal 0470
                </p>

                <p>
                  0798989774
                </p>

                <p>
                  lskakaza12@gmail.com
                </p>

                <ion-router-link href="#" [routerLink] ="['/view-one']">
                  View previous work
                </ion-router-link>
                
                  <p class="prices">
                      R 800
                  </p>
                  <ion-button [routerLink] ="['/booking']">
                    Book Now
                  </ion-button>
              </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>

  <ion-card class="card ion-margin">
      <ion-card-content>
          <ion-grid>

              <ion-row>
                  <ion-col size="6">
                    <ion-avatar class="ion-margin-start">
                      <ion-img src="https://tse3.mm.bing.net/th?id=OIP.cVJp1wnIhxadB4eZb5O66gHaFF&pid=Api&P=0&w=245&h=169"></ion-img>
                  </ion-avatar>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                  <h3>
                      Jennifer Ross
                  </h3>
                  <p>
                      Full House
                  </p>
                  <p>
                    01158 Hlalanikahle, Groblersdal 0470
                </p>

                <p>
                  0782323454
                </p>

                <p>
                  jenny.ross@gmail.com
                </p>

                <ion-router-link href="#" [routerLink] ="['/view-one']">
                  View previous work
                </ion-router-link>
                
                  <p class="prices">
                      R 500
                  </p>
                  <ion-button [routerLink] ="['/booking']">
                    Book Now
                  </ion-button>
              </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>
</ion-content>
