<ion-header class="ion-no-border">

  <ion-item lines="none">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/services"></ion-back-button>
    </ion-buttons>
    <ion-title>
      COUCH PROFILES
    </ion-title>
  </ion-item>

</ion-header>

<ion-content [fullscreen]="true" class="background-image">

  <ion-card class="card ion-margin first-card">
      <ion-card-content>
          <ion-grid>

              <ion-row>
                  <ion-col size="6">
                      <ion-avatar class="ion-margin-start">
                          <ion-img src="https://tse3.mm.bing.net/th?id=OIP.iJdPcSuKT_e9eYI16vY2EAHaFP&pid=Api&P=0&w=262&h=187"></ion-img>
                      </ion-avatar>
                  </ion-col>
                  <ion-col size="6" class="ion-text-right">
                      <h3>
                          Sophie Lesley
                      </h3>
                      <p>
                          couches
                      </p>
                      <p>
                        7398 Ext.6 MOAGI cres, Soshanguve 0152
                    </p>

                    <p>
                      0823525997
                    </p>

                    <p>
                      sslesley@gmail.com
                    </p>

                    <ion-router-link href="#" [routerLink] ="['/view-one']">
                      View previous work
                    </ion-router-link>

                      <p class="prices">
                          R 600
                      </p>
                      <ion-button [routerLink] ="['/booking']">
                        Book Now
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>

  <ion-card class="card ion-margin">
      <ion-card-content>
          <ion-grid>

              <ion-row>
                  <ion-col size="6">
                    <ion-avatar class="ion-margin-start">
                      <ion-img src="https://tse2.mm.bing.net/th?id=OIP.tu7W8EGGohd_Fkhvs1WMSAAAAA&pid=Api&P=0&w=300&h=300"></ion-img>
                  </ion-avatar>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                  <h3>
                      Kevin English
                  </h3>
                  <p>
                      carpets
                  </p>
                  <p>
                    1523 Monsterlus , Mpudulle 1057
                </p>

                <p>
                  0787145254
                </p>

                <p>
                  kevinE34@gmail.com
                </p>

                <ion-router-link href="#" [routerLink] ="['/view-one']">
                  View previous work
                </ion-router-link>
                
                  <p class="prices">
                      R 850
                  </p>
                  <ion-button [routerLink] ="['/booking']">
                    Book Now
                  </ion-button>
              </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>

  <ion-card class="card ion-margin">
      <ion-card-content>
          <ion-grid>

              <ion-row>
                  <ion-col size="6">
                    <ion-avatar class="ion-margin-start">
                      <ion-img src="http://mybroadband.co.za/news/wp-content/uploads/2016/11/domestic-worker.jpg"></ion-img>
                  </ion-avatar>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                  <h3>
                      Trudy James
                  </h3>
                  <p>
                      couches and carpets
                  </p>
                  <p>
                    7232 Block lkk, Soshanguve 0152
                </p>

                <p>
                  0602399074
                </p>

                <p>
                  trudyjames2@gmail.com
                </p>

                <ion-router-link href="#" [routerLink] ="['/view-one']">
                  View previous work
                </ion-router-link>
                
                  <p class="prices">
                      R 1000
                  </p>
                  <ion-button [routerLink] ="['/booking']">
                    Book Now
                  </ion-button>
              </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>

  <ion-card class="card ion-margin">
      <ion-card-content>
          <ion-grid>

              <ion-row>
                  <ion-col size="6">
                    <ion-avatar class="ion-margin-start">
                      <ion-img src="https://tse3.mm.bing.net/th?id=OIP.SPy57RTTDk5gRkgfu8VVmwAAAA&pid=Api&P=0&w=255&h=160"></ion-img>
                  </ion-avatar>
              </ion-col>
              <ion-col size="6" class="ion-text-right">
                  <h3>
                      Vincent Troy
                  </h3>
                  <p>
                      couch
                  </p>
                  <p>
                    7373 Block D, Soshanguve 0152
                </p>

                <p>
                  0789898777
                </p>

                <p>
                  vtroy@gmail.com
                </p>

                <ion-router-link href="#" [routerLink] ="['/view-one']">
                  View previous work
                </ion-router-link>
                
                  <p class="prices">
                      R 900
                  </p>
                  <ion-button [routerLink] ="['/booking']">
                    Book Now
                  </ion-button>
              </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>
</ion-content>
